body {
	text-align: center;
	background: url("./img/bg.jpg") repeat;
}


.images {
	margin:80px 2px;
}

.images img {
	max-width:100%;
	border-radius: 10px;
	box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

.footer {
	font-family: Tahoma;
	font-size: 15px;
    color:#969696;
    margin-top:100px 0;
    text-align:center;
}

a:link {color:#969696;}
a:visited {color:#969696;}
a:hover {color:#808080;}
a:active {color:#808080;}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
a:hover {text-decoration:underline;}
a:active {text-decoration:underline;}

#flashplayer {
 position: absolute;
 bottom: 20px;
 right: 5px;
 width: 200px;
}
